<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">
    <title>My blog</title>
</head>
<body>
        <!-- Side navigation -->

    <ul>
    <li><a class="active" href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#clients">Clients</a></li>
    <li><a href="#contacts">Contact</a></li>
    </ul>

<div style="margin-right: 20%; padding: 1px; height: 1000px;"> 

    <p>
     <a href="#C4">Jump to Chapter 4</a> 
     <a href="#C4">Jump to Chapter 52</a>
     <a href="#C4">Jump to Chapter 41</a>
    </p>

<hr>

    <h1 title="SUP SUP">Welcome to my blogg</h1>

    <hr>
    <!--LINE BREAK HACK-->

    <a href="/post">Create post</a>
    {% for post in posts %}
        <div style="border: 3px solid red">
            {% include "./posts/" + post %}
        </div>
    {% endfor %}
    </div>
</body>
</html>