<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">
    <title>My blog</title>
</head>
<body>
        
    <!-- Side navigation -->

    <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#posts">Posts</a></li>
    <li><a href="/post">Create post!</a></li>
    </ul>

<div class="page"> 

    <hr>

    <h1 title="SUP SUP">Welcome to my blogg</h1>

    <hr>
  
    <!--LINE BREAK HACK-->

    {% for post in posts %}
        <div class="posts">
    
    <!--class for posts to style-->

            {% include "./posts/" + post %}
        </div>
    {% endfor %}

    <!--Fabian kod-->

    </div>

    <!--End for position of navbar-->

</body>
</html>