<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">
    <title>Postpage</title>
</head>
<body>
    
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="/">Back!</a></li>
    </ul>

    <div class="page"> 

    <h1 title="Create post!">Create post!</h1>
    
    <hr>
    
    <form action="/post" method="post">
        <label for="post-text">Write your post here:</label>
        <textarea name="post-text" cols="30" rows="10"></textarea>
        <input type="submit" value="Send post!"> 
    </form>
    
    </div>

</body>
</html>