<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - postpage</title>
</head>
<body>
        <h1>Create post!</h1>
        <a href="/">Back!</a>
        
    <form action="/post" method="post">
        <label for="post-text">Write your post here:</label>
        <textarea name="post-text" cols="30" rows="10"></textarea>
        <input type="submit" value="Send post!"> 
    </form>
</body>
</html>