<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
</head>
<body>
    
    

    <h1>My Blog!</h1>
    <p>Hello shayan!</p>
    <a href="/post">Create post</a>
    {% for post in posts %}
        <div style="border: 3px solid red">
            {% include "./posts/" + post %}
        </div>
    {% endfor %}
    <p>
    <button onclick="document.location='https://www.google.com/url?sa=i&url=https%3A%2F%2Fgoodra.tumblr.com%2Fpost%2F121274160845%2Foyasumi-punpun-icons-god&psig=AOvVaw12Pd1R-BsETCRAVvo8hJGY&ust=1646389011859000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIiS3eD4s_YCFQAAAAAdAAAAABAD'">HTMA NUTS</button>
    </p>

</body>
</html>